.slide-show{
    background-color:#FEEAE9 ;
    border-radius: 1em;

}
.categories img {
        
        width: 80px;
}
.button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    
}
.price{
    color:#FF136F;
}
.watch-bg{
    background-color: orange;
    border-radius: 10px
}
.bag-bg{
    background-color: orchid;
    border-radius: 10px
}
.shoes{
    background-color: blue;
    border-radius: 10px;
}
section .bag-footer{
    background-color:white;
    border-top: 0px;

}